[data-md-color-scheme="youtube"] {

  --md-default-fg-color:               hsla(0, 0%, 88%, 1);
  --md-default-fg-color--light:        hsla(0, 0%, 88%, 0.87);
  --md-default-fg-color--lighter:      hsla(0, 0%, 88%, 0.60);
  --md-default-fg-color--lightest:     hsla(0, 0%, 88%, 0.38);
  --md-default-bg-color:               #262626;
  --md-default-bg-color--light:        hsla(0, 0%, 15%, 0.54);
  --md-default-bg-color--lighter:      hsla(0, 0%, 15%, 0.26);
  --md-default-bg-color--lightest:     hsla(0, 0%, 15%, 0.07);
  
  --md-primary-fg-color:               #5d5c5b;
  --md-primary-fg-color--light:        hsla(309, 23%, 59%, 1);
  --md-primary-fg-color--dark:         hsla(30, 1%, 36%, 0.38);
  --md-primary-bg-color:               hsla(0, 0%, 15%, 1);
  --md-primary-bg-color--light:        hsla(0, 0%, 15%, 0.54);
  
  --md-accent-fg-color:                #ff2f00;
  --md-accent-fg-color--transparent:   hsla(11, 100%, 50%, 0.1);
  --md-accent-bg-color:                hsla(0, 0%, 15%, 1);
  --md-accent-bg-color--light:          hsla(0, 0%, 15%, 0.54);
  
  --md-code-fg-color:                hsla(156, 12%, 92%, 0.62);
  --md-code-bg-color:                hsla(34, 5%, 28%, 0.22);

  --md-typeset-a-color:              #bd5942;
}

:root {
  --md-admonition-icon--comment: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path xmlns="http://www.w3.org/2000/svg" d="M544 32h-16.36C513.04 12.68 490.09 0 464 0c-44.18 0-80 35.82-80 80v20.98L12.09 393.57A30.216 30.216 0 000 417.74c0 22.46 23.64 37.07 43.73 27.03L165.27 384h96.49l44.41 120.1c2.27 6.23 9.15 9.44 15.38 7.17l22.55-8.21c6.23-2.27 9.44-9.15 7.17-15.38L312.94 384H352c1.91 0 3.76-.23 5.66-.29l44.51 120.38c2.27 6.23 9.15 9.44 15.38 7.17l22.55-8.21c6.23-2.27 9.44-9.15 7.17-15.38l-41.24-111.53C485.74 352.8 544 279.26 544 192v-80l96-16c0-35.35-42.98-64-96-64zm-80 72c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"/></svg>');
  --md-admonition-icon--accent: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path xmlns="http://www.w3.org/2000/svg" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm0-176c-35.3 0-64 28.7-64 64s28.7 64 64 64 64-28.7 64-64-28.7-64-64-64zm-48-72c0-17.7-14.3-32-32-32s-32 14.3-32 32 14.3 32 32 32 32-14.3 32-32zm128-32c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32z"/></svg>');
  --md-admonition-icon--warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path xmlns="http://www.w3.org/2000/svg" d="M308 336h-57.7l17.3-64.9c2-7.6-3.7-15.1-11.6-15.1h-68c-6 0-11.1 4.5-11.9 10.4l-16 120c-1 7.2 4.6 13.6 11.9 13.6h59.3l-23 97.2c-1.8 7.6 4 14.8 11.7 14.8 4.2 0 8.2-2.2 10.4-6l88-152c4.6-8-1.2-18-10.4-18zm66.4-111.3c5.9-9.6 9.6-20.6 9.6-32.7 0-35.3-28.7-64-64-64h-5.9c3.6-10.1 5.9-20.7 5.9-32 0-53-43-96-96-96-5.2 0-10.2.7-15.1 1.5C218.3 14.6 224 30.6 224 48c0 44.2-35.8 80-80 80h-16c-35.3 0-64 28.7-64 64 0 12.1 3.7 23.1 9.6 32.7C32.6 228 0 262.2 0 304c0 44 36 80 80 80h48.3c.1-.6 0-1.2 0-1.8l16-120c3-21.8 21.7-38.2 43.7-38.2h68c13.8 0 26.5 6.3 34.9 17.2s11.2 24.8 7.6 38.1l-6.6 24.7h16c15.7 0 30.3 8.4 38.1 22 7.8 13.6 7.8 30.5 0 44l-8.1 14h30c44 0 80-36 80-80 .1-41.8-32.5-76-73.5-79.3z"/></svg>');
  --md-admonition-icon--success: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path xmlns="http://www.w3.org/2000/svg" d="M216 464h-40V346.81c68.47-15.89 118.05-79.91 111.4-154.16l-15.95-178.1C270.71 6.31 263.9 0 255.74 0H32.26c-8.15 0-14.97 6.31-15.7 14.55L.6 192.66C-6.05 266.91 43.53 330.93 112 346.82V464H72c-22.09 0-40 17.91-40 40 0 4.42 3.58 8 8 8h208c4.42 0 8-3.58 8-8 0-22.09-17.91-40-40-40zM61.75 48h164.5l7.17 80H54.58l7.17-80z"/></svg>');
  --md-admonition-icon--danger: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path xmlns="http://www.w3.org/2000/svg" d="M496 448H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h480c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zm-48-256C448 85.96 362.04 0 256 0S64 85.96 64 192v224h384V192zm-96-8c0 8.84-7.16 16-16 16h-56v128c0 8.84-7.16 16-16 16h-16c-8.84 0-16-7.16-16-16V200h-56c-8.84 0-16-7.16-16-16v-16c0-8.84 7.16-16 16-16h56v-48c0-8.84 7.16-16 16-16h16c8.84 0 16 7.16 16 16v48h56c8.84 0 16 7.16 16 16v16z"></path></svg>');
  --md-admonition-icon--info: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path xmlns="http://www.w3.org/2000/svg" d="M106.66 170.64h.09l49.55-20.65a7.32 7.32 0 003.68-6 7.29 7.29 0 00-3.68-6l-49.57-20.67h-.07L86 67.68a6.66 6.66 0 00-11.92 0l-20.7 49.63h-.05L3.7 138a7.29 7.29 0 00-3.7 6 7.32 7.32 0 003.68 6l49.59 20.6h.07L74 220.26a6.65 6.65 0 0011.92 0l20.69-49.62zm364.72 296.77l-1-.42-1-.5a38.67 38.67 0 010-69.14l1-.49 1-.43 37.49-15.63 15.63-37.48.41-1 .47-.95c3.85-7.74 10.58-13.63 18.35-17.34 0-1.33.25-2.69.27-4V144a32 32 0 00-64 0v72a8 8 0 01-8 8h-16a8 8 0 01-8-8V64a32 32 0 00-64 0v152a8 8 0 01-8 8h-16a8 8 0 01-8-8V32a32 32 0 00-64 0v184a8 8 0 01-8 8h-16a8 8 0 01-8-8V64a32 32 0 00-64 0v241l-23.59-32.49a40 40 0 00-64.71 47.09l125.6 172.61A48.07 48.07 0 00268.09 512H465.7c19.24 0 35.65-11.73 43.24-28.79l-.07-.17zM349.79 339.52L320 351.93l-12.42 29.78a4 4 0 01-7.15 0L288 351.93l-29.79-12.41a4 4 0 010-7.16L288 319.94l12.42-29.78a4 4 0 017.15 0L320 319.94l29.79 12.42a4 4 0 010 7.16zM640 431.91a7.28 7.28 0 00-3.68-6l-49.57-20.67h-.07L566 355.63a6.66 6.66 0 00-11.92 0l-20.7 49.63h-.05L483.7 426a7.28 7.28 0 00-3.68 6 7.29 7.29 0 003.68 5.95l49.57 20.67h.07L554 508.21a6.65 6.65 0 0011.92 0l20.69-49.62h.09l49.55-20.66a7.29 7.29 0 003.68-5.95z"/></svg>');
}


.md-typeset .info>summary,
.md-typeset .admonition.info,
.md-typeset details.info {
  border-color: #4F70A3;
}
.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color:#4F70A320;
}
.md-typeset .info > .admonition-title::before,
.md-typeset .info > summary::before {
  background-color: #4F70A3;
  -webkit-mask-image: var(--md-admonition-icon--info);
          mask-image: var(--md-admonition-icon--info);
}


.md-typeset .comment>summary,
.md-typeset .admonition.comment,
.md-typeset details.comment {
  border-color: #2E6171;
}
.md-typeset .comment > .admonition-title,
.md-typeset .comment > summary {
  background-color:#2E617120;
}
.md-typeset .comment > .admonition-title::before,
.md-typeset .comment > summary::before {
  background-color: #2E6171;
  -webkit-mask-image: var(--md-admonition-icon--comment);
          mask-image: var(--md-admonition-icon--comment);
}

.md-typeset .success>summary,
.md-typeset .admonition.success,
.md-typeset details.success {
  border-color: #568A21;
}
.md-typeset .success > .admonition-title,
.md-typeset .success > summary {
  background-color: #568A2120;
}
.md-typeset .success > .admonition-title::before,
.md-typeset .success > summary::before {
  background-color: #568A21;
  -webkit-mask-image: var(--md-admonition-icon--success);
          mask-image: var(--md-admonition-icon--success);
}

.md-typeset .warning>summary,
.md-typeset .admonition.warning,
.md-typeset details.warning {
  border-color: #B7A036;
}
.md-typeset .warning > .admonition-title,
.md-typeset .warning > summary {
  background-color:#B7A03620;
}
.md-typeset .warning > .admonition-title::before,
.md-typeset .warning > summary::before {
  background-color: #B7A036;
  -webkit-mask-image: var(--md-admonition-icon--warning);
          mask-image: var(--md-admonition-icon--warning);
}

.md-typeset .danger>summary,
.md-typeset .admonition.danger,
.md-typeset details.danger {
  border-color: #BF2020;
}
.md-typeset .danger > .admonition-title,
.md-typeset .danger > summary {
  background-color:#BF202020;
}
.md-typeset .danger > .admonition-title::before,
.md-typeset .danger > summary::before {
  background-color: #BF2020;
  -webkit-mask-image: var(--md-admonition-icon--danger);
          mask-image: var(--md-admonition-icon--danger);
}

.md-typeset .accent>summary,
.md-typeset .admonition.accent,
.md-typeset details.accent {
  border-color: #B5B5B5;
}
.md-typeset .accent > .admonition-title,
.md-typeset .accent > summary {
  background-color:#B5B5B520;
}
.md-typeset .accent > .admonition-title::before,
.md-typeset .accent > summary::before {
  background-color: #B5B5B5;;
  -webkit-mask-image: var(--md-admonition-icon--accent);
          mask-image: var(--md-admonition-icon--accent);
}
 
body {
  font-family: 'Georgia', serif;
  font-size: 18px;
}

.md-typeset {
  font-size: 18px;
}

.md-typeset .admonition, .md-typeset details, .md-typeset table:not([class]) {
  font-size: 80%;
}

.md-typeset h3 {
  margin-top: 36px;
}

.md-typeset h5{
  margin: 2.25em 0 1.25em 0;
}

.md-typeset ul li ul, .md-typeset ul li ol, .md-typeset ol li ul, .md-typeset ol li ol {
  /* margin: .0em 0 .0em .625em; */
}

.md-typeset ul li, .md-typeset ol li {
  /* margin-bottom: .0em; */
}

.md-typeset figcaption {
  margin: 0;
}

.md-typeset figure {
  margin: 8px auto;
}

.md-typeset table:not([class]){
  box-shadow: rgb(0 0 0 / 32%) 0px 6px 12px, rgb(0 0 0 / 46%) 0px 3px 6px;
}

.md-typeset img {
  box-shadow: rgb(0 0 0 / 32%) 0px 6px 12px, rgb(0 0 0 / 46%) 0px 3px 6px;
}

/* ------------------------------------------------------ */
.dwarf-font {
  font-family: "Noto Serif", serif;
  /* color: #BFCDE0; */
  font-size: 93.75%;
}

:not(.md-nav__link) .cirth-dwarf-font {
  font-family: 'Cirth';
  /* color: #BFCDE0; */
  /* font-size: 112.5%; */
  text-transform: uppercase;
  font-weight: bold;
}

.elf-font {
  font-family: "EB Garamond", serif;
  color: #9CC69B;
  font-size: 112.5%;
}

.sylvan-font {
  font-family: 'EB Garamond', serif;
  color: #252537;
  font-size: 112.5%;
}

.tengwar-elf-font {
  font-family: 'Annatar';
  font-size: 112.5%;
}

.tengwar-sylvan-font {
  font-family: 'Annatar';
  font-size: 112.5%;
}

.runic-old-font {
  font-family: 'Old_Runic'!important;
  font-size: 112.5%;
  /* font-weight: bold; */
}

.orc-font {
  font-family: "Andika", sans-serif;
  color: #3e2723;
}

.runic-font {
  font-family: "Girassol", cursive;
  color: #4f4a4a;
}

/* ----------------------------------------------------------- */

@font-face {
  font-family: 'Old_Runic';
  src: url('../assets/fonts/Old_Runic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Cirth';
  src: url('../assets/fonts/cirth.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Annatar';
  src: url('../assets/fonts/tengwar-annatar-glaemscrafu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Annatar Bold';
  src: url('../assets/fonts/tengwtengwar-annatar-glaemscrafu-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Annatar Italic';
  src: url('../assets/fonts/tengwar-annatar-glaemscrafu-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}